/* @import './base.css'; */

html, body {
  height: 100%;
  margin: 0;
}

.ck-balloon-panel {
  display: none !important;
}

.btn-close svg {
  display: none;
}

.w-e-modal{
 position: fixed !important; 
 top: 50% !important;
 left: 25% !important;
}