$primary-blue: #556ee6; //#2440c4;;//#556ee6;
$color-white: #fff;
$gray-light: #f5f5f8;
$gray-lightest: #eff1fc;
$gray-medium: #6c757d;
$light-gray-border: #e1e1f1;
$green-primary: #34c38f;
$shadow-color: rgba(0, 0, 0, 0.1);
$chat-error-bg: #f5f5f8;
$chat-error: #b7b7b7;
$current-user-bg: #f1f2f4;
$date-separate-color: #aaa;
$dark-theme: #242424;
$dark-theme-bg: #1a1a1a;
$dark-theme2: #1a1a1a;

body {
  background-color: $gray-lightest;
}

ul {
  list-style-type: none;
}

.chat-app-main {
  background-color: $color-white;
  width: 100%;
}
.chat-app-main > .row {
  height: 100vh;
}

.chat-heading {
  font-weight: 500;
}

.group-list {
  background-color: $gray-light;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  .group-list-items {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .group-list-items li:last-child {
    margin-top: auto;
  }

  .group-icon {
    align-self: center;
    max-width: 10%;
    flex-grow: 0.2;
  }

  .group-detail {
    flex-grow: 1;
    padding-left: 1.5em;
  }

  .group-name {
    font-weight: 500;
  }

  .group-icon img {
    height: 25px;
  }

  .group-list ul {
    padding: 0;
  }

  .group-item {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .group-item:hover {
    background-color: $color-white;
    cursor: pointer;
  }

  .group-last-chat-time {
    font-size: 12px;
    flex-grow: 0.3;
  }

  .group-list-items li:first-child {
    padding-bottom: 0;
  }

  .group-list-items li:first-child:hover,
  .group-list-items li:last-child:hover {
    background-color: inherit;
    cursor: inherit;
    // border-radius: inherit;
  }
}

.loggedin-user img {
  height: 50px;
  border-radius: 30px;

  &:hover {
    background-color: unset;
  }
}

.loggedin-user {
  padding: 1rem;
}

.username {
  font-weight: 500;
}

.user-online-status {
  color: $gray-medium;
}

.status-active {
  display: inline-block;
  background-color: $green-primary;
  height: 8px;
  width: 8px;
  border-radius: 15px;
  margin-right: 0.5em;
}

.status-in-active {
  display: inline-block;
  background-color: $gray-medium;
  height: 8px;
  width: 8px;
  border-radius: 15px;
  margin-left: 0.5em;
}

.chat-main .group-heading {
  font-weight: 500;
  border-bottom: 1px solid $light-gray-border;
  padding: 1em 1.5em;
}

.chat-detail {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1.5em;
  background-color: $gray-lightest;
  width: fit-content;
  border-radius: 10px;
  padding: 0.5em 1em;
  max-width: 87.8%;
}

.chat-username {
  font-weight: bold;
  color: $primary-blue;
}

.chat-message {
  padding-top: 0.3em;
}

.chat-date {
  text-align: start;
  font-size: 12px;
  color: $gray-medium;
}

.chat-messages {
  //height: 60vh;
  overflow-y: auto;
  position: relative;
}

.chat-messages-bg {
  background: url("./images/chat-bg.png");
}

.spinner-custom {
  overflow: hidden;
}

.bg-transparent {
  background-color: #fff !important;
}

.new-message {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5em;
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  position: fixed;
  bottom: 0;

  .editor-div {
    flex: 0 0 75%;
  }
}

.wang-editor {
  // width: 75%;
  height: auto;
}

.new-message-row {
  // position: absolute;
  // bottom: 0;
  // width: 75%;
}

.new-message-input {
  width: 85%;
  padding: 1em;
}

.new-message-btn {
  flex: 1 0 25%;
  padding: 1em;
  padding-bottom: 0;
  padding-left: 0;
  align-self: end;
}

.send-message-btn {
  background-color: $primary-blue;
  color: $color-white;
  margin-top: 1%;

  &:hover {
    background-color: $primary-blue;
    color: $color-white;
  }
}

@media (max-width: 425px) {
  .new-message-row {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .chat-messages {
    height: 50vh;
    overflow-y: auto;
  }

  .w-e-modal {
    left: 2% !important;
  }
}

@media (max-width: 768px) {
  .chat-user-img {
    max-width: auto;
  }

  /* Responsive adjustments for small screens */
  .editor-div,
  .new-message-btn {
    flex: 1 0 auto; /* Allow both divs to expand and wrap if needed */
  }
}

.new-message-btn a {
  color: $color-white;
  background-color: $primary-blue;
  border-radius: 15px;
  padding: 8px 30px;
}

.new-message-btn a:hover {
  background-color: $primary-blue;
  color: $color-white;
}

.new-message-btn a i {
  font-size: 14px;
  margin-left: 0.5em;
  vertical-align: middle;
}

.ck-editor__editable_inline {
  height: 15vh;
}

.users-list-main {
  background-color: $gray-light;
  height: 100%;
}
.user-list {
  .user-list-items {
    display: flex;
    flex-direction: column;
    height: 73vh;
    overflow: auto;
  }

  .user-icon {
    align-self: center;
    flex-grow: 0.2;
    text-align: center;
  }

  .user-detail {
    // flex-grow: 1;
    // padding-left: 1.5em;
  }

  .user-name {
    font-weight: 500;
  }

  .user-icon img {
    height: 3em;
    border-radius: 30px;
  }

  .user-list ul {
    padding: 0;
  }

  .user-item {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .user-item:hover {
    background-color: $color-white;
    cursor: pointer;
  }

  .user-last-chat-time {
    font-size: 12px;
    flex-grow: 0.3;
  }

  .user-list-items {
    padding-left: 0;
  }

  .user-list-items li:first-child {
    padding-bottom: 0;
  }

  // .user-list-items li:first-child:hover {
  //   background-color: inherit;
  //   cursor: inherit;
  //   border-radius: inherit;
  // }

  .private-message {
    text-align: right;
  }

  .private-message a {
    font-size: 12px;
    color: $primary-blue;
    border: 1px solid $primary-blue;
  }
}

blockquote {
  background-color: var(--w-e-textarea-slight-bg-color);
  border-left: 8px solid var(--w-e-textarea-selected-border-color);
  display: block;
  font-size: 100%;
  line-height: 1.5;
  margin: 10px 0;
  padding: 10px;
}

.chat-messages-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 93vh;

  .new-message-row {
    border-top: 1px solid $light-gray-border;
    margin-top: auto;
    margin-top: 0.5em;
  }
}

.chat-detail-new {
  display: flex;
  margin-top: 0.5em;
  margin-right: 0.5em;
  padding-left: 1em;

  .chat-user-img {
    text-align: center;
    margin-right: 0.5em;
    max-width: 55px;
  }

  img {
    height: 50px;
    border-radius: 30px;
    margin-top: 0.3em;
  }

  .chat-username {
    text-align: center;
    font-size: 14px;
  }

  .chat-message {
    padding: 10px;
    background-color: $gray-lightest;
    border-radius: 10px;
    width: fit-content;
    width: -moz-fit-content; /* Firefox */
    width: -webkit-fit-content; /* Safari, Chrome, and other WebKit-based browsers */
    width: fit-content; /* Standard */
    max-width: 40em;

    p {
      margin-bottom: 0;
    }

    img {
      border-radius: unset;
      height: auto;
    }
    ul {
      list-style-type: initial;
    }
  }

  .chat-date {
    align-self: flex-end;
  }
}

.chat-error {
  .chat-message {
    background-color: $chat-error-bg;
    color: $chat-error;
  }
}

.current-user {
  justify-content: end;
  margin-right: 0.5em;
  margin-bottom: 0.5em;

  .chat-user-img,
  .chat-user-info {
    display: none;
  }
  .chat-message {
    background: $current-user-bg;
    min-width: 3.5em;
  }

  .chat-user-info {
    text-align: right;
  }

  .chat-date {
    text-align: right;
  }
}

.date-separator {
  width: -moz-fit-content; /* Firefox */
  width: -webkit-fit-content; /* Chrome, Safari, and newer versions of Opera */
  width: fit-content; /* Standard syntax */
  margin: auto;
  margin-top: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: $gray-light;
  border-radius: 30px;
  padding: 5px 10px;
}

.sticky-top {
  position: sticky;
  top: 10px;
  z-index: 1000;
}

.chat-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 95%;
}

.chat-empty {
  text-align: center;
  color: $gray-medium;
}

.width-fit-conent {
  width: fit-content;
  width: -moz-fit-content; /* Firefox */
  width: -webkit-fit-content; /* Safari, Chrome, and other WebKit-based browsers */
}

.user-detail {
}

.latest-message-caret {
  position: sticky;
  float: right;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $gray-light;
  color: $gray-medium;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.latest-message-caret i {
  font-size: 20px;
  color: #333;
}

.dark-body {
  background-color: $dark-theme-bg;
  color: #e1e1e1;

  .users-list-main {
    background-color: $dark-theme-bg;
  }

  .chat-messages-bg {
    background-image: none;
    background-color: inherit;
  }

  .bg-transparent {
    background-color: $dark-theme-bg !important;
  }

  .chat-message {
    background-color: $dark-theme !important;
    //background-color: #000 !important;
  }

  #w-e-textarea-1,
  .w-e-toolbar {
    background-color: $dark-theme-bg !important;
    color: #e1e1e1;
  }

  .user-list .private-message a {
    color: #8191dc;
    border: 1px solid #a0a9d2;
  }

  .chat-main .group-heading {
    border-bottom: 1px solid #32323e;
  }

  .chat-messages-col .new-message-row {
    border-top: 1px solid #32323e;
  }

  .user-item:hover {
    background-color: #32323e;
    cursor: pointer;
  }

  .users-list-main {
    border-left: 1px solid #32323e;
  }

  /* For WebKit browsers (such as Chrome and Safari) */
  ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
  }

  scrollbar-color: #eee #555;

  .form-check-input:checked{
    background-color: $primary-blue !important;
    border-color: $primary-blue !important;
  }
}
// body {
//   scrollbar-color: #eee #555;
// }

#flexSwitchCheckDefault {
  cursor: pointer;
}

.theme-switch {
  position: fixed;
  top: 5px;
  left: 98%;
  //background-color: white;
  //color: #fff;
  padding: 10px;
  //border: 1px solid black;
  z-index: 9999;
}

.text-light {
  color: #e1e1e1;
}